services:
  - type: web
    name: quadgen-support-non-prod
    env: node
    plan: free
    region: oregon
    buildCommand: npm install && npx prisma generate && npx prisma migrate deploy && npm run build
    startCommand: npm run start
    envVars:
      - key: NODE_VERSION
        value: 20.x
      - key: NEXT_TELEMETRY_DISABLED
        value: 1
      - key: DATABASE_URL
        sync: false
      - key: DATABASE_HOST
        sync: false
      - key: DATABASE_PORT
        sync: false
      - key: DATABASE_USER
        sync: false
      - key: DATABASE_PASSWORD
        sync: false
      - key: DATABASE_NAME
        sync: false
      - key: JWT_SECRET
        sync: false
      - key: SMTP_HOST
        sync: false
      - key: SMTP_PORT
        sync: false
      - key: SMTP_USER
        sync: false
      - key: SMTP_PASS
        sync: false
      - key: SMTP_FROM
        sync: false
      - key: APP_NAME
        sync: false
      - key: SUPPORT_EMAIL
        sync: false
      - key: ADMIN_SETUP_TOKEN
        sync: false
